<!--<div class="col-md-6" style="width: 42%;">-->
  <div id="mapbox"></div>
<!--</div>-->
<style>
    .leaflet-left {
        left: 145px !important;
    }
        .leaflet-control-attribution.leaflet-control a{
            display: none !important;
        }
</style>

