
.kick-show{
  .row{
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

    .party{
      box-shadow:0px 0px 4px -2px #000;

      margin: 20px 0;
      background: rgba(0, 0, 0, 0.68);
      height: auto;
      padding: 66px;
      color: rgb(230, 230, 230);

      H1{
        margin-left: 20%;

      }

      SMALL{
        display: block;
        padding: 20px 0;

        I{
          font-size: 33px;
          position: relative;
          top: 7px;
          margin-right: 10px;
          transition: all 1s ease-in-out;

          &.late{
            color: #E74C3C;
            transform:rotate(3600deg);
            -ms-transform:rotate(360deg);
            -webkit-transform:rotate(360deg);
          }

          &:hover{
            transform:rotate(3600deg);
            -ms-transform:rotate(360deg);
            -webkit-transform:rotate(360deg);
          }
        }
      }

      BLOCKQUOTE{
        border-left: 5px solid rgba(238, 238, 0, 0);
        margin-left: 16%;
      }
    }
  }
}


