@import "_flat-ui";

@import '../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss';
@import "../../../vendor/assets/stylesheets/flat-ui-sass/flat-ui.sass";
@import 'leaflet.css';
@import "_user-show";
@import "_home-index";
@import "_mapbox-leaflet";
@import "_kick-show";
@import "_kick-new";
@import "_user-new";





.navbar-right{
  position: absolute;
  right: 0px;
  top: 12px;
}

.login-form:before {
  content: none;
}

.modal {
  overflow-y: auto;
}



#slider1, #slider2, #slider3, #deb-scale{
  width: 217px;
}

input[type="file"]{
  height: 45px;
  border: 4px dotted rgba(128, 128, 128, 0.31);
  margin-bottom: 19px;
}

.ui-slider-handle {
  background-color: #16a085;
  height: 40px !important;
  top: -15px !important;
  width: 40px !important;
}


/* font-awesome */

.fa{
  color: rgb(7, 166, 216);
  font-size: 46px;

  .fa-clock-o{


    &.early{
      color: green !important;
    }

    &.late{
      color: red !important;
    }
  }

}

IMG{
  cursor: pointer;
}


.main{
  margin: 10px 0 10px 0;
}


@media (min-width: 1400px)  {
  .container {
    max-width: 90%;
  }
}

