<h1>Edit (NEW  )  Profile</h1>

<div id="slider1" class="ui-slider">
</div>
<p>
  <label for="talklevels-label"></label>
  <input type="text" id="levels1" style="border: 0; color: #f6931f; font-weight: bold;" />
</p>

<div id="slider2" class="ui-slider">
</div>
<p>
  <label for="talklevels-label"></label>
  <input type="text" id="levels2" style="border: 0; color: #f6931f; font-weight: bold;" />
</p>

<div id="slider3" class="ui-slider">
</div>
<p>
  <label for="talklevels-label"></label>
  <input type="text" id="levels3" style="border: 0; color: #f6931f; font-weight: bold;" />
</p>

<br>
<button id="save-profile" class="btn btn-primary">update</button>
<br>





